:root {
    --primary-color: rgba(0, 0, 128, .8);
    --secondary-color: rgba(192, 192, 192, .4);

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
  }
  header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("hero-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  
header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
section {
    padding: 60px;
}  
.hero {
    background-image: url('./images/windmill.jpg');
    background-size: 75%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
  }
.small-greeting {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}

.small-greeting h2 {
    font-style: italic;
    font-size: 55px;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: var(--secondary-color);
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
  }
  .my-work {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
.large-workbox {
    margin: 20px;
    flex: 1;
    background-image: ('./images/run-buddy.png');
    color: var(--primary-color);
}
.small-workbox {
    margin: 20px;
    flex: 1;
    background: var(--secondary-color);
    color: var(--primary-color);
}
.small-workbox img {
    max-width: fit-content;
    max-height: 1000px;
}