* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(177. 184, 186);
}
header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(72, 161, 181);
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
  display: inline;
}
header a {
  color: #eafafd;
  text-decoration: none;
}
header nav {
  float: right;
  margin: 7px 0;
}
header nav ul li {
  display: inline-flex;

}
header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 22px;
}
.about-me {
  display: flex;
  flex-wrap: wrap;
}
.work-container {
  display: flex;
  flex-wrap: wrap;
  flex: 25%;
  position: relative;
}
.large-container {
  flex: 2 1 100%;
  flex-wrap: wrap;
  order: 1;
  min-height: 400px;
  max-width: 400px;
}
.small-container {
  flex: 1 1 50%;
  flex-wrap: wrap;
  order: 2;
  min-height: 200px;
  max-width: 200px;
}
.flex-wrap {
  flex-wrap: wrap;
  flex: 75%;
}
.large-container img {
  width: 600px;
}
.small-container img {
  width: 200px;
}